@{
    ViewData["Title"] = "Home Page";
    var projectAdvertisements = ViewData["ProjectAdvertisementCount"] as List<ProjectAdvertisement>;
}

<div class="card-container d-flex flex-column">
    @if (@projectAdvertisements != null)
    {
        @foreach (var advertisement in @projectAdvertisements)
        {
            <div class="card">
                <div class="card-price-container">
                    <div class="card-price">@advertisement.Price ₴</div>
                </div>

                <div class="card-content">
                    <h2>@advertisement.Employer.Name</h2>
                    @advertisement.Description
                </div>
                <div class="d-flex justify-content-between">
                    Expires at: @advertisement.ExpiredAt
                    <div class="text-end">
                        <a href="">Read more...</a>
                    </div>
                </div>
                <div class="card-footer">
                    @foreach(var requiredSkill in advertisement.RequiredSkills)
                    {
                        <a>@requiredSkill.Skill.Title</a>
                    }
                </div>
            </div>
        }
    }
</div>
